* {
    margin: 0;
    padding: 0;
    /* width: 1600px; */
}

.content {
    max-width: 1600px;
    margin: auto;
  }

.flex-container {
    display: flex;
    
  }
nav {
    color: #fff;
}

.logo {
    font-family: "roboto";
}

header {
    background-image: url("design-assets/bgk-header.png");
    height: 675px;
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: #cccccc;
}